@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* universal styles */
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* shared styles  starts*/
.flex {
  display: flex;
}

.flex-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.btn-primary {
  padding: 20px 25px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(255, 144, 14);
  font-size: 1.25rem;
  font-weight: 600px;
  color: #ffffff;
}

.center {
  text-align: center;
}

main,
footer {
  max-width: 1440px;
  margin: 85px auto;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

/* main > section{
    margin-top: 130px;
} */
/* shared styles end */

/* nav bar styles start */

header {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links .nav-item {
  list-style: none;
}

.nav-links .nav-link {
  text-decoration: none;
  color: #424242;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.navbar .brand-name {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}
/* nav bar styles end */

/* banner styles start */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 7.1875rem;
}

.banner-content {
  max-width: 53.875rem;
  gap: 2rem;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-img {
  width: 100%;
}

.banner-img img {
  width: 100%;
  margin-bottom: 45px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
}

/* banner styles end */

/* team section style start */
.teams {
  display: flex;
  align-items: center;
  gap: 72px;
}

.team-image-gellary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-title #part-1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #727272;
}

.team-title #part-2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.team-title #part-3 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ff900e;
}

.team-description {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 1.5rem 0;
}

.team-info-container {
  max-width: 535px;
}

/* team title style end */

/* features section start */
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.features {
  margin-top: 130px;
  display: flex;
  gap: 140px;
}

.feature-card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 35px;
  margin-bottom: 20px;
}

.feature-btn #years{
    font-size: 4.0625rem;
    font-weight: 700;
}

.feature-btn #exp{
    font-size: 1.5625rem;
    font-weight: 500;
}

.feature-btn{
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -77px;
}

.feature-description{
    margin: 25px 0;
}

.feature-img-section img{
    width: 100%;
}
/* features section end  */

/* facts related style start */

.some-facts {
  margin-top: 160px;
}

.fact-description {
  margin-top: 25px;
}

.facts-contianer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}
.fact {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  width: 242px;
  height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}
/* facts related style end */

/* sponsor related style start */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsors-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img {
  filter: grayscale(100%);
}

/* sponsor related style end  */

/* responsive media query */

/* small size devices */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams, .features {
    flex-direction: column;
  }
  .features{
    justify-content: center;
  }
  .team-image-gellary,
  .facts-contianer,
  .sponsors-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-info-container {
    margin-left: 20px;
  }

  .facts-contianer {
    justify-items: center;
    gap: 20px;
  }
  .sponsors-companies {
    justify-items: center;
    gap: 50px;
  }

  .feature-btn{
    margin: 20px;

  }
}

/* medium size devices */

@media screen and (min-width: 576px) and (max-width: 922px) {
  .teams {
    flex-direction: column;
  }

  .team-info-container {
    margin-left: 50px;
  }

  .sponsors-companies,
  .facts-contianer {
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}
